:root {
    --color-primary: #212121;
    --color-secondary:#757575;
    --color-background: #2f303a;
    --color-background-box1: #f5f5f5;
    --color-background-box2: #f5f4fA;
    --color-inverted:#2196f3;
    --color-white:#fff;
    --shadow-btn-color: rgba(0, 0, 0, 0.15);
}
*{
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    color: var(--color-primary);
    font-family: 'Roboto',sans-serif;
    font-size: 14px; 
    letter-spacing: 0.03em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0; }
.header-link {
 background-color: var(--color-white);
 border: 1px solid #ececec;
}
.container-nav,.list,.nav-list,.header-link,.logo-header {
    display: flex;
    align-items: center;
}

 .logo-accent {
    background-color: var(--color-white);
     color: var(--color-inverted);
    
 }
 .logo-accent:hover,  :focus {
    background-color: var(--color-inverted);
    color: var(--color-white);
   
 }


 .logo-footer {
    background-color: var(--color-white);
     color: var(--color-primary);
    
 }
 .logo-footer:hover, :focus {
    background-color: var(--color-inverted);
color: var(--color-primary);

 }

.logo-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
   }
 .logo-header:hover, :focus {
     color: var(--color-white);
     background-color: var(--color-inverted);
    }
.nav-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.menu {
    color: var(--color-primary);
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu:hover, :focus {
    color: var(--color-white);
    background-color: var(--color-inverted);
   }
   .contact-list {
       display: flex;
       margin-left: auto;
       gap: 50px;
   }
.mail {
    color: var(--color-secondary);
    font-size: 14px;
    text-decoration: none;
}
.mail:hover, :focus {
    color: var(--color-white);
    background-color: var(--color-inverted);
}
.tel {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    }

.tel:hover, :focus {
    color: var(--color-white);
    background-color: var(--color-inverted);
}


.contact-item {
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.main-hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'Raleway';
        background: var(--color-background);
        letter-spacing: 0.06em;
        padding-top: 60px;
            padding-bottom: 60px;
}
.hero-title {
    color: var(--color-white);
    background:var(--color-background);
    font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        margin: 0 auto;
        max-width: 696px;
            margin-right: auto;
            margin-bottom: 30px;
            margin-left: auto;
            text-transform: uppercase;
        
}

.button-main {
    display: flex;
    background-color: var(--color-inverted);
    color: var(--color-white);
        font-weight: 700;
        
        text-align: center;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        display: inline-block;
        padding: 10px 32px;
        min-width: 216px;
        box-shadow: 0px 4px 4px var(--shadow-btn-color);
        border-radius: 4px;
        border: none;
        cursor: pointer;
}

.button-main:hover, :focus {
    background:var(--color-inverted);
    color: var(--color-background-box1);
    
}
/*  */

.section {
    background-color: var(--color-white);
}
.section-footer {
    background-color:var(--color-background-box1) ;
}
.list-title {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
.list-main {
    display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
}
.list-subtitle {
    width: 270;
}

    
.section-title {
    color: var(--color-primary);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

}
    
.section-subtitle {
    color: var(--color-secondary);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    width: 270px;
   
}
.main-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    
}
.main-title-team {
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        
}
.team-box {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
    text-align: center;
}
.about-section {
padding-top: 0;

}
.list {
    list-style: none; 
    display: flex;
        flex-direction: row;
        gap: 30px;
}


.img {
    background-color: var(--color-white);
}
.address {
        color: var(--color-white);
        text-decoration: none;
}
.address:hover, :focus {
    color: var(--color-white);
    background-color: var(--color-inverted);
}

.main-address {
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.19;
        text-decoration: none;
        font-style: normal;
        margin-bottom: 9px;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
    font-style: normal;
}

.general-button {
    background-color: var(--color-background-box2);
    color: var(--color-primary);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.general-button:hover,
:focus {
    background: var(--color-inverted);
    color: var(--color-background-box1);
}
       

.logo-accent-footer {
    color: var(--color-inverted);
    background-color: var(--color-background);
}

.logo-sub-accent-footer {
    color: var(--color-white);
    background-color: var(--color-background);
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
}

.logo-footer :hover,
:focus {
    color: var(--color-white);
    background-color: var(--color-inverted);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
}